extends master.pug 
block content
    .col-8.p-2.mb-5.bg-white.rounded
       <h2 align='center'> Responsabilidad civil obligatoria
       #{id}
       h4 Responsabilidad civil voluntaria (50.000.000 €)
       h4 Defensa jurídica y reclamación de daños
       h4 Incendio, caída de rayo y explosión
       h4 Robo del vehículo asegurado
       h4 Rotura de lunas y parabrisas
       h4 Daños propios al propio vehículo con franquicia de 300,00 €
       h4 Vehículo alquiler
       h4 Remolcaje
       h4 Asistencia en viaje total
       h4 Seguro del conductor (30.050,00 €)
       h4 Gestión de multas
       h4 Curso de recuperación carné por puntos
       h4 Servicio de atención jurídica
       h4 Plan mundial de protección por accidentes
       h4 Asistencia en viaje familiar y universal
       h4 Daños propios causados por animales
       h4 Ayuda mecánica
       h4 Ayuda al mantenimiento del vehículo a domicilio
       h4 Vehículo de sustitución por avería